<!doctype html>
<html lang="en-US">

<head>

  <meta charset="utf-8">
  <title>YOUR SHOPPING CART</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <meta name="description" content=""><meta name="twitter:title" content="YOUR SHOPPING CART">
  <meta name="twitter:description" content="">
  <meta name="twitter:url" content="cart.html">
  <meta name="twitter:image:alt" content="YOUR SHOPPING CART">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:title" content="YOUR SHOPPING CART">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="ROGER ROGER">
  <meta property="og:url" content="cart.html">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap" rel="stylesheet">

<link href="/main0e34.css?v=16357540465480959826" rel="stylesheet" type="text/css" media="all" />
<script src="https://js.stripe.com/v3/"></script>


<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 180px;
  }
}
</style>
</head>
  <body class="page-your-shopping-cart template-cart js-empty-cart ">

    <nav class="MainNavigation">
    <nav role="navigation">
      <div id="menuToggle">

        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/"><li>SHOP</li></a>
          <a href="https://www.instagram.com/du_poncel"><li>SOCIAL</li></a>
        </ul>
      </div>
    </nav>

    <div class="navcontain">
        <div class="petitcon">
                <a class="N__link1 N__top_right js-toplink" onclick="DisplayCart(); CartOpen();">
                  Cart
                  <span class="sr-only">:</span>
                  <span class="N__cart_count js-cart-count">
                    <span class="datacount">0</span>
                    <span class="sr-only" >Items</span>
                  </span>
                </a>
        </div>
        <nav class="nav-container">
            <ul class="site-nav ">
                <li class="site-nav--has-dropdown list--inline">
                      <a href="https://instagram.com" class="">Social</a>
                </li>

                <li class="site-nav--has-dropdown list--inline">
                      <a href="/Contact" class="">Contact</a>
                </li>

                <li class="site-nav--has-dropdown list--inline">
                      <a href="/About" class="">About</a>
                </li>
            </ul>
        </nav>
    </div>



</nav>
    <div class="Wrap" id="js-wrap">
      
<div class="Header js-header"></div>


      
      <main class="B__container" id="main">
        <h1 class="sr-only">Your Shopping Cart</h1>
        <div id="js-main" class="B__content MasterPage">
  <div class="container">
    <div class="C__empty">
      <p></p>
      <p><a href="/index1">YOUR CART IS EMPTY</a></p>
      <script> setTimeout(function() { window.location.href = '/'; }, 2900); </script>
    </div>
  </div>
</div>

      </main>
<section
  id="CartDrawer"
  class="CartDrawer"
>
  <div class="CartDrawer__main" onclick="CartOpen();">
    <header class="CD__header">
      <h3 class="CD__header__title" id="CartTitle">
        Cart
        <span class="CD__header__count">
          (<span class="CD__header__count-number"></span>
          <span class="datacount1">0</span>
          <span class="CD__header__count-label" ></span>)
        </span>

      </h3>
      <button id="closebtn" type="button" class="CD__close" onclick="closecart();" >
        Close
        <span class="CD__close__icon" aria-hidden="true">
          ×
        </span>
      </button>
    </header>
    <div class="CD__content" >
      <h3 onclick='clearCart()' class="button1">Clear Cart </h3>
      <div class="CD__form">
        <div class="CD__items">
          <table class="CD__table">
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

    </div>
      <script src="/payment.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="/script2.js"></script>
  </body>
</html>
