<!doctype html>
<html lang="en-US">
<head>

  <meta charset="utf-8">
  <title>CONTACT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <meta name="description" content="CONTACT ROGER ROGER"><meta name="twitter:title" content="CONTACT">
  <meta name="twitter:description" content="ROGER ROGER CONTACT">
  <meta name="twitter:url" content="/Contact">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:description" content="CONTACT">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="ROGER ROGER">
  <meta property="og:url" content="terms.html">
  <link rel="apple-touch-icon" sizes="57x57" href="../Assets/apple-icon-57x5739be.png?v=3379390425994517632">
  <link rel="apple-touch-icon" sizes="60x60" href="../Assets/apple-icon-60x6019d1.png?v=7767540045200874822">
  <link rel="apple-touch-icon" sizes="72x72" href="../Assets/apple-icon-72x72203f.png?v=10311065889238500215">
  <link rel="apple-touch-icon" sizes="76x76" href="../Assets/apple-icon-76x767c9b.png?v=16817737802744084623">
  <link rel="apple-touch-icon" sizes="114x114" href="../Assets/apple-icon-114x1143d75.png?v=18200548120803157398">
  <link rel="apple-touch-icon" sizes="120x120" href="../Assets/apple-icon-120x1206291.png?v=13498461394125657253">
  <link rel="apple-touch-icon" sizes="144x144" href="../Assets/apple-icon-144x144ea57.png?v=6105199869634354362">
  <link rel="apple-touch-icon" sizes="152x152" href="../Assets/apple-icon-152x1526bf5.png?v=8503299270179059925">
  <link rel="apple-touch-icon" sizes="180x180" href="../Assets/apple-icon-180x1808799.png?v=1654743329381614950">
  <link rel="icon" type="image/png" sizes="192x192" href="../Assets/android-icon-192x1928de1.png?v=4675465960329839148">
  <link rel="icon" type="image/png" sizes="32x32" href="../Assets/favicon-32x328b9a.png?v=11993505977033946260">
  <link rel="icon" type="image/png" sizes="96x96" href="../Assets/favicon-96x9614bf.png?v=12435803360369970359">
  <link rel="icon" type="image/png" sizes="16x16" href="../Assets/favicon-16x165d71.png?v=16157078672135185305">
  <meta name="msapplication-TileColor" content="#ffffff">
  <link href="../Assets/ms-icon-144x144ea57.png?v=6105199869634354362" rel="shortcut icon" sizes="16x16 32x32 64x64">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

<link href="/main0e34.css?v=16357540465480959826" rel="stylesheet" type="text/css" media="all" />
<script src="https://js.stripe.com/v3/"></script>

<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 180px;
  }
}
</style>
</head>
  <body class="page-terms template-page-terms js-empty-cart "    
    id="page-terms">

    <nav class="MainNavigation">

<a href="/index1" aria-label="Homepage" class="N__link N__top_center N__person js-toplink">
      <span class="N__person-inner">
          
          <img
                  src="../Assets/roger-roger-logo.png?v=1606759885" style="width: 61px" class="N__custom_logo logo1" alt="CACTUS JACK">
      </span>
    </a>

  <a href="https://instagram.com" class="N__link N__top_left js-toplink">Social</a>

  <a href="/About" class="N__link N__bottom_left">About</a>
    <a class="N__link N__top_right js-toplink"  onclick="DisplayCart(); CartOpen();">
      Cart
      <span class="sr-only">:</span>
      <span class="N__cart_count js-cart-count">
        <span class="datacount">0</span>
        <span class="sr-only">Items</span>
      </span>
    </a>


  <a href="/Contact" class="N__link N__bottom_right">Contact</a>

</nav>

    <div class="Wrap" id="js-wrap">
      
<div class="Header js-header"></div>


      <main class="B__container" id="main">
        <div class="MasterPage">
  <div class="container terms-privacy">
<div style="text-align: center;">

    <body class="fr contact eu">
      <div id="successgrp"class="container displaynone">
        <div class="C__empty">
          <p></p>
          <p><a href="/index1"><a class="uppercase">THANK YOU FOR CONTACTING ROGER ROGER</a> <br><br>A member of our team will get in touch with you.</a></p>
        </div>
         <button class="ButtonCallout CA__button-checkout1">
              Go to Shopping
         </button>
      </div>
    <div id="wrap" ><h2 id="contacth2">contact ROGER ROGER</h2>
        <form accept-charset="UTF-8" class="contact-form" data-remote="true" id="form-contact"
              method="post"><input name="utf8" type="hidden" value="&#x2713;"/>
            <p class="name"><span><input class="nice-field nice-fade-field" id="first_name" name="first_name" placeholder="first name"
                                         type="text"/></span><span><input class="nice-field nice-fade-field"
                                                                          id="last_name"
                                                                          name="last_name"
                                                                          placeholder="last name"
                                                                          type="text"/></span>
            </p>
            <p class="email_and_order_no"><span><input class="nice-field nice-fade-field" id="email" name="email" placeholder="your email"
                                                       type="text"/></span><span id="order_number_p"><input
                    class="nice-field nice-fade-field" id="order_number" name="order_number" placeholder="order number"
                    type="text"/></span></p>
            <p><label for="subject"></label><select class="nice-field nice-fade-field" id="subject" name="subject">
                <option data-req-order-id="y" value="online order status requests">online order status requests</option>
                <option data-req-order-id="y" value="online return or exchange requests">online return or exchange
                    requests
                </option>
                <option data-req-order-id="y" value="online order lost package">online order lost package</option>
                <option data-req-order-id="" value="store inquiries">store inquiries</option>
                <option data-req-order-id="" value="general inquiries">general inquiries</option>
                <option data-req-order-id="" value="press">press</option>
            </select></p>
            <p><label for="message" id="message1">message</label><textarea id="message" name="message">
</textarea></p>
            <p><input class="button submit" id="send_button" name="commit" type="submit" value="send"/></p></form>
    </div>
    </body>
</div>
  </div>
        </div>

      </main><footer class="Footer js-footer">
        <div class="F__nav"><a href="pages/faq.html" title="HELP" data-title="help" class="F__link"> HELP</a><a href="pages/privacy-policy.html#CCPA" title="Do Not Sell My Personal Information" data-title="do not sell my personal information" class="F__link"> Do Not Sell My Personal Information</a><a href="pages/terms.html" title="TERMS" data-title="terms" class="F__link"> TERMS</a><a href="pages/privacy-policy.html" title="PRIVACY" data-title="privacy" class="F__link"> BORING STUFF</a></div>
    </footer>

<section
  id="CartDrawer"
  class="CartDrawer"
>
  <div class="CartDrawer__main" onclick="CartOpen();">
    <header class="CD__header">
      <h3 class="CD__header__title" id="CartTitle">
        Cart
        <span class="CD__header__count">
          (<span class="CD__header__count-number"></span>
          <span class="datacount1">0</span>
          <span class="CD__header__count-label" ></span>)
        </span>

      </h3>
      <button id="closebtn" type="button" class="CD__close" onclick="closecart();" >
        Close
        <span class="CD__close__icon" aria-hidden="true">
          ×
        </span>
      </button>
    </header>
    <div class="CD__content" >
      <h3 onclick='clearCart()' class="button1">Clear Cart </h3>
      <div class="CD__form">
        <div class="CD__items">
          <table class="CD__table">
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
    </div>

</div>
            <div class="c-loader displaynone" style="position: absolute; width:17px; transform:translate(-50%,-50%);">
              <svg version="1.1" class="c-loader__svg" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 104 176" xml:space="preserve">
                <path class="c-loader__scaffolding" d="M0 12v12h8v40h8v8h8v8h8v16h-8v8h-8v8H8v40H0v24h104v-24h-8v-40h-8v-8h-8v-8h-8V80h8v-8h8v-8h8V24h8V0H0v12zm88 0v4H16V8h72v4zm0 28v16h-8v8h-8v8h-8v8h-8v16h8v8h8v8h8v8h8v32H16v-32h8v-8h8v-8h8v-8h8V80h-8v-8h-8v-8h-8v-8h-8V24h72v16zm0 124v4H16v-8h72v4z" />
                <path d="M24 36v4h8v-8h-8v4z" class="c-loader__block1" />
                <path d="M40 36v4h8v-8h-8v4z" class="c-loader__block2" />
                <path d="M56 36v4h8v-8h-8v4z" class="c-loader__block3" />
                <path d="M72 36v4h8v-8h-8v4z" class="c-loader__block4" />
                <path d="M32 44v4h8v-8h-8v4z" class="c-loader__block5" />
                <path d="M48 44v4h8v-8h-8v4z" class="c-loader__block6" />
                <path d="M64 44v4h8v-8h-8v4z" class="c-loader__block7" />
                <path d="M40 52v4h8v-8h-8v4z" class="c-loader__block8" />
                <path d="M56 52v4h8v-8h-8v4z" class="c-loader__block9" />
                <path d="M48 60v4h8v-8h-8v4z" class="c-loader__block10" />
                <path d="M48 76v4h8v-8h-8v4z" class="c-loader__block11" />
                <path d="M48 108v4h8v-8h-8v4z" class="c-loader__block12" />
              </svg>
            </div>
  <script src="/payment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="script2.js"></script>
  <script src="loader.js"></script>
  </body>
</html>
