<!doctype html>
<html lang="en-US">
<head>

  <meta charset="utf-8">
  <title>ROGER ROGER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <meta name="description" content="ROGER ROGER SITE"><meta name="twitter:title" content="MAKE WITH LOVE">
  <meta name="twitter:description" content="TROGER ROGER SITE">
  <meta name="twitter:url" content="index.html">
  <meta name="twitter:image:alt" content="ROGER ROGER">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:title" content="ROGER ROGER">
  <meta property="og:description" content="ROGER ROGER SITE">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="ROGER ROGER">
  <meta property="og:url" content="terms.html">
  <link rel="apple-touch-icon" sizes="57x57" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/apple-icon-57x5739be.png?v=3379390425994517632">
  <link rel="apple-touch-icon" sizes="60x60" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/apple-icon-60x6019d1.png?v=7767540045200874822">
  <link rel="apple-touch-icon" sizes="72x72" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/apple-icon-72x72203f.png?v=10311065889238500215">
  <link rel="apple-touch-icon" sizes="76x76" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/apple-icon-76x767c9b.png?v=16817737802744084623">
  <link rel="apple-touch-icon" sizes="114x114" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/apple-icon-114x1143d75.png?v=18200548120803157398">
  <link rel="apple-touch-icon" sizes="120x120" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/apple-icon-120x1206291.png?v=13498461394125657253">
  <link rel="apple-touch-icon" sizes="144x144" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/apple-icon-144x144ea57.png?v=6105199869634354362">
  <link rel="apple-touch-icon" sizes="152x152" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/apple-icon-152x1526bf5.png?v=8503299270179059925">
  <link rel="apple-touch-icon" sizes="180x180" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/apple-icon-180x1808799.png?v=1654743329381614950">
  <link rel="icon" type="image/png" sizes="192x192" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/android-icon-192x1928de1.png?v=4675465960329839148">
  <link rel="icon" type="image/png" sizes="32x32" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/favicon-32x328b9a.png?v=11993505977033946260">
  <link rel="icon" type="image/png" sizes="96x96" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/favicon-96x9614bf.png?v=12435803360369970359">
  <link rel="icon" type="image/png" sizes="16x16" href="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/favicon-16x165d71.png?v=16157078672135185305">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/ms-icon-144x144ea57.png?v=6105199869634354362">
  <link href="../Assets/ms-icon-144x144ea57.png?v=6105199869634354362" rel="shortcut icon" sizes="16x16 32x32 64x64">

<link href="/main0e34.css?v=16357540465480959826" rel="stylesheet" type="text/css" media="all" />


<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 180px;
  }
}
</style>
</head>
  <body >
        <div class="container1">
              <div class="container ">
                  <img src="/Assets/roger-roger-logo.png?v=1606759885" style="width: 35px" class="N__custom_logo1" alt="CACTUS JACK">
            <div style="text-align: center;">
            </div>

            <a href="/index1"><span>Shop<br></span></a>
            <a href="https://instagram.com"><span>Social<br></span></a>
            <a href="/About"><span>About<br></span></a>
            <a href="/Contact"><span>Contact<br></span></a>
        </div>
            <div class="display leftcorner"></div>
            <div class="display2 leftcorner" style="top: 9px; right: 9px"></div>
    <script>
 setInterval(function(){
        const clock = document.querySelector(".display");
        let time = new Date();
        let sec = time.getSeconds();
        let min = time.getMinutes();
        let hr = time.getHours();
        let day = 'AM';
        if(hr > 12){
          day = 'PM';
          hr = hr - 12;
        }
        if(hr == 0){
          hr = 12;
        }
        if(sec < 10){
          sec = '0' + sec;
        }
        if(min < 10){
          min = '0' + min;
        }
        if(hr < 10){
          hr = '0' + hr;
        }
        clock.textContent = hr + ':' + min + ':' + sec + day;
      });

      let mousetracker = document.querySelector('.display2');

      window.addEventListener("mousemove", cursor);

      function cursor(e) {
          mouseY = e.pageY * 10;
          mouseX = e.pageX * 10;

          mousetracker.textContent = mouseX + "/" + mouseY
      }
    </script>
    <script src="/ibmloader.js"></script>
  </body>

</html>
