<!doctype html>
<html lang="en-US">
<head>

  <meta charset="utf-8">
  <title>DIMEH | LAPLACE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <meta name="description" content="WASHED AND TREATED GARMENT WITH WATERBASED SCREEN PRINT DETAILS AND DISCHARGE  
SHIPS IN 5-6 WEEKS">
  <meta name="twitter:title" content="CREATE TEE">
  <meta name="twitter:description" content="WASHED AND TREATED GARMENT WITH WATERBASED SCREEN PRINT DETAILS AND DISCHARGE  
SHIPS IN 5-6 WEEKS">
  <meta name="twitter:card" content="product">
  <meta name="twitter:image:alt" content="CREATE TEE">
  <meta name="twitter:url" content="RogerRoger.html">
  <meta property="og:type" content="product">
  <meta property="og:title" content="CREATE TEE">
  <meta property="og:description" content="WASHED AND TREATED GARMENT WITH WATERBASED SCREEN PRINT DETAILS AND DISCHARGE  
SHIPS IN 5-6 WEEKS">
  <meta property="og:price:amount" content="48">
  <meta property="og:price:currency" content="USD">
  <meta property="og:site_name" content="ROGER ROGER">
  <meta property="og:url" content="cactus-jack-for-fragment-create-your-world-tee.html">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap" rel="stylesheet">

<link href="/main0e34.css?v=16357540465480959826" rel="stylesheet" type="text/css" media="all" />
<script src="https://js.stripe.com/v3/"></script>

<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 180px;
  }
}
</style>
<link rel="canonical" href="cactus-jack-for-fragment-create-your-world-tee.html">
</head>
  <body class="page-cactus-jack-for-fragment-create-tee template-product js-empty-cart "    
    id="page-cactus-jack-for-fragment-create-tee">

    <nav class="MainNavigation">
    <nav role="navigation">
      <div id="menuToggle">

        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/"><li>SHOP</li></a>
          <a href="https://www.instagram.com/du_poncel"><li>SOCIAL</li></a>
        </ul>
      </div>
    </nav>

    <div class="navcontain">
        <div class="petitcon">
                <a class="N__link1 N__top_right js-toplink" onclick="DisplayCart(); CartOpen();">
                  Cart
                  <span class="sr-only">:</span>
                  <span class="N__cart_count js-cart-count">
                    <span class="datacount">0</span>
                    <span class="sr-only" >Items</span>
                  </span>
                </a>
        </div>
        <nav class="nav-container">
            <ul class="site-nav ">
                <li class="site-nav--has-dropdown list--inline">
                      <a href="https://instagram.com" class="">Social</a>
                </li>

                <li class="site-nav--has-dropdown list--inline">
                      <a href="/Contact" class="">Contact</a>
                </li>

                <li class="site-nav--has-dropdown list--inline">
                      <a href="/About" class="">About</a>
                </li>
            </ul>
        </nav>
    </div>



</nav>
    <div class="Wrap" id="js-wrap">
      
<div class="Header js-header"></div>

      <main class="B__container" id="main">
        <h1 class="sr-only">ROGER ROGER MASTERMIND SOCKS</h1>



    <div id="js-content" class="B__content">
      <div id="P__6732003541119" class="SingleProduct js-product">
<div class="container">

  <article class="Product P__type-SOCKS P__handle-cactus-jack-for-mastermind-socks
     P__tag-08-12-21 P__tag-081321 P__tag-9-12-weeks P__tag-hover-show-second-image P__tag-image-zoom P__tag-shipping-ships-in-9-12-weeks">
<div class="P__img_row js-slideshow">
          <div class="js-img-cell js-slide P__img-cell P__img-cell-0 add-opacity"  onclick="datazoom();" style="background-image:url('../products/5.jpg')" data-alt="CACTUS JACK FOR MASTERMIND SOCKS" data-image-id="22067273859199">
            <div class="P__img_bg" style="width: 100%; height: 459px;">
              <img class="P__img js-img js-img-0" height="2500" width="2500" src="../products/5.jpg" alt="CACTUS JACK FOR MASTERMIND SOCKS">

            </div>
          </div>
    </div>


    <div class="P__Info js-product-info">
      <h2
        class="PI__title js-product-title" itemprop="name"
      >DIMEH LAPLACE</h2>
        <div class="js-product-form" >
          <div class="PI__err js-error" style="display:none"></div>

          <div
            class="PI__desc js-add-description"

          >
            <p>Tirage satiné en 30,5cm par 40,7cm<br>
Envoyé en 48h</p>
          </div>
          <div class="PI__wrap js-insert-select-sizes"></div>
            <div class="PI__wrap js-insert-select-sizes"  style="display: none">
                <div class="PI__input-wrap PI__select_wrap js-select-wrap-SIZE js-select-wrap-SIZE-static js-error">
                    <div class="PI__placeholder js-placeholder" id="placeholder"><span id="selectsize" class="selectsize" ></span></span></div>
                    <select id="_938qedafx" class="PI__select PI__input " aria-invalid="true">
                        <option value="0" disabled="" selected="" value="">S</option>
                    </select><div class="cf"></div>
                </div>
            </div>
          <div class="js-error-message c-error displaynone" role="alert" aria-atomic="true" style="display: none; font-size: 12px; margin-bottom: 10px"></div>
            <div class="c-error" id="c-error" role="alert" aria-atomic="true" style="display: none; font-size: 12px; margin-bottom: 10px">Please select a size</div>
          <div class="PI__price">

            <span data-price="2400" class="PI__actual_price js-price">
              $14
            </span>
          </div>
        
          <button
            class="btn-add"
            style="display: none"
          >
            Buy
          </button>
          <button
            class="btn-add"
            style="display: none"
          >
            Buy
          </button>
          <button
            class="btn-add"
            style="display: none"
          >
            Buy
          </button>
          <button
            class="btn-add"
            style="display: none"
          >
            Buy
          </button>
          <button
            type="submit"
            name="add"
            class="K__button btn-add"
            aria-label="Buy: CACTUS JACK FOR FRAGMENT CREATE TEE"
            onclick="getselectvalue1();"
          >
            Buy
          </button>
      </form>
    </div>
  </article>

</div>

      </div>
    </div>

      </main>
<section
  id="CartDrawer"
  class="CartDrawer"
>
  <div class="CartDrawer__main" onclick="CartOpen();">
    <header class="CD__header">
      <h3 class="CD__header__title" id="CartTitle">
        Cart
        <span class="CD__header__count">
          (<span class="CD__header__count-number"></span>
          <span class="datacount1">0</span>
          <span class="CD__header__count-label" ></span>)
        </span>

      </h3>
      <button id="closebtn" type="button" class="CD__close" onclick="closecart();" >
        Close
        <span class="CD__close__icon" aria-hidden="true">
          ×
        </span>
      </button>
    </header>
    <div class="CD__content" >
      <h3 onclick='clearCart()' class="button1">Clear Cart </h3>
      <div class="CD__form">
        <div class="CD__items">
          <table class="CD__table">
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

    </div>
                <div id="pswpcontain" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                <div id="pswp__bg" class="pswp__bg"></div>
                <div class="pswp__scroll-wrap">
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div onclick="datazoominv();" class="pswp__item"><div class="pswp__zoom-wrap" ><img class="pswp__img" src="../products/08_02_updated_1500xd4db.jpg?v=1628802719"></div></div>
                        <div onclick="datazoominv();" id="itemimg2" class="pswp__item" ><div class="pswp__zoom-wrap" ><img class="pswp__img" src="../products/08_01_9b000401-8888-4834-915e-808d09555ca4_1500xd4db.jpg?v=1628802719"></div></div>
                        <div class="pswp__item" style="display: block; transform: translate3d(953px, 0px, 0px);"></div> </div>
                    <div id="uiopen" class="pswp__ui pswp__ui--hidden">
                        <div class="pswp__top-bar">
                            <button  onclick="datazoominv();" class="pswp__button pswp__button--close" title="Close (Esc)">&times;</button>


                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                  <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div>
                        </div>

                        <button onclick="previous1();" id="pswparrL" class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                          &#8249;
                        </button>

                        <button onclick="next1();" id="pswparrR" class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                          &#8250;
                        </button>

                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>
                    </div>
                </div>
  <script src="/payment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="script2.js"></script>
  </body>
</html>
