<!doctype html>
<html lang="en-US">
<head>

  <meta charset="utf-8">
  <title>FRAGMENT TEE | ROGER ROGER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <meta name="description" content="STANDOUT GRAPHIC OF MJ ON THE FRONT, OVERLAPPING CACTUS JACK AND FRAGMENT LOGOS IN A MIXTURE OF PRINTSSHIPS IN 2-3 DAYS">
  <meta name="twitter:title" content="FRAGMENT TEE">
  <meta name="twitter:description" content="STANDOUT GRAPHIC OF MJ ON THE FRONT, OVERLAPPING CACTUS JACK AND FRAGMENT LOGOS IN A MIXTURE OF PRINTSSHIPS IN 2-3 DAYS">
  <meta name="twitter:card" content="product">
  <meta name="twitter:image:alt" content="FRAGMENT TEE">
  <meta property="og:type" content="product">
  <meta property="og:title" content="FRAGMENT TEE">
  <meta property="og:description" content="STANDOUT GRAPHIC OF MJ ON THE FRONT, OVERLAPPING CACTUS JACK AND FRAGMENT LOGOS IN A MIXTURE OF PRINTSSHIPS IN 2-3 DAYS">
  <meta property="og:price:amount" content="50">
  <meta property="og:price:currency" content="USD">
  <link rel="apple-touch-icon" sizes="57x57" href="../Assets/apple-icon-57x5739be.png?v=3379390425994517632">
  <link rel="apple-touch-icon" sizes="60x60" href="../Assets/apple-icon-60x6019d1.png?v=7767540045200874822">
  <link rel="apple-touch-icon" sizes="72x72" href="../Assets/apple-icon-72x72203f.png?v=10311065889238500215">
  <link rel="apple-touch-icon" sizes="76x76" href="../Assets/apple-icon-76x767c9b.png?v=16817737802744084623">
  <link rel="apple-touch-icon" sizes="114x114" href="../Assets/apple-icon-114x1143d75.png?v=18200548120803157398">
  <link rel="apple-touch-icon" sizes="120x120" href="../Assets/apple-icon-120x1206291.png?v=13498461394125657253">
  <link rel="apple-touch-icon" sizes="144x144" href="../Assets/apple-icon-144x144ea57.png?v=6105199869634354362">
  <link rel="apple-touch-icon" sizes="152x152" href="../Assets/apple-icon-152x1526bf5.png?v=8503299270179059925">
  <link rel="apple-touch-icon" sizes="180x180" href="../Assets/apple-icon-180x1808799.png?v=1654743329381614950">
  <link rel="icon" type="image/png" sizes="192x192" href="../Assets/android-icon-192x1928de1.png?v=4675465960329839148">
  <link rel="icon" type="image/png" sizes="32x32" href="../Assets/favicon-32x328b9a.png?v=11993505977033946260">
  <link rel="icon" type="image/png" sizes="96x96" href="../Assets/favicon-96x9614bf.png?v=12435803360369970359">
  <link rel="icon" type="image/png" sizes="16x16" href="../Assets/favicon-16x165d71.png?v=16157078672135185305">
  <meta name="msapplication-TileColor" content="#ffffff">
  <link href="../Assets/ms-icon-144x144ea57.png?v=6105199869634354362" rel="shortcut icon" sizes="16x16 32x32 64x64">


<link href="/main0e34.css?v=16357540465480959826" rel="stylesheet" type="text/css" media="all" />
<script src="https://js.stripe.com/v3/"></script>

<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 180px;
  }
}
</style>
<link rel="canonical" href="jordan-x-travis-scott-x-fragment-ss-tee.html">
</head>
  <body class="page-jordan-x-travis-scott-x-fragment-tee template-product js-empty-cart "    
    id="page-jordan-x-travis-scott-x-fragment-tee">

    <nav class="MainNavigation">

<a href="/index1" aria-label="Homepage" class="N__link N__top_center N__person js-toplink">
      <span class="N__person-inner">

          <img
                  src="../Assets/roger-roger-logo.png?v=1606759885" style="width: 61px" class="N__custom_logo logo1" alt="CACTUS JACK">
        
      </span>
    </a>
  

  <a href="https://instagram.com" class="N__link N__top_left js-toplink">Social</a>

  <a href="/About" class="N__link N__bottom_left">About</a>
    <a class="N__link N__top_right js-toplink"  onclick="DisplayCart(); CartOpen();">
      Cart
      <span class="sr-only">:</span>
      <span class="N__cart_count js-cart-count">
        <span class="datacount">0</span>
        <span class="sr-only">Items</span>
      </span>
    </a>


  <a href="/Contact" class="N__link N__bottom_right">Contact</a>

</nav>

    <div class="Wrap" id="js-wrap">
      
<div class="Header js-header"></div>


      <main class="B__container" id="main">

    <div id="js-content" class="B__content">
      <div id="P__6732003115135" class="SingleProduct js-product">

<div class="container">
  
  <article class="Product P__type-SHIRT P__handle-jordan-x-travis-scott-x-fragment-ss-tee
     P__tag-081321 P__tag-fragments P__tag-hide-signup-when-sold-out P__tag-hover-show-second-image P__tag-image-zoom P__tag-one-per P__tag-shipping-ships-in-2-3-days"
    itemscope itemtype="http://schema.org/Product">
    <input type="hidden" name="id" value="6732003115135">    <div class="P__img_row js-slideshow">
          <div class="js-img-cell js-slide P__img-cell P__img-cell-0"
            style="background-image:url('../products/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_1500xe5f4.jpg?v=1628802706')"
            
            data-alt="JORDAN X TRAVIS SCOTT X FRAGMENT TEE"
            data-image-id="22066959188095"
            data-zoom-src="../products/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_1500xe5f4.jpg?v=1628802706">
            <div class="P__img_bg">
              <img class="P__img js-img js-img-0"
                   height="1500" width="1500"
                   src="../products/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_1500xe5f4.jpg?v=1628802706" alt="JORDAN X TRAVIS SCOTT X FRAGMENT TEE">
              
            </div>
          </div>
          <div class="js-img-cell js-slide P__img-cell P__img-cell-1"
            style="background-image:url('../products/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e_1500xe5f4.jpg?v=1628802706')"
            
            data-alt="JORDAN X TRAVIS SCOTT X FRAGMENT TEE"
            data-image-id="22066959220863"
            data-zoom-src="../products/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e_1500xe5f4.jpg?v=1628802706">
            <div class="P__img_bg">
              <img class="P__img js-img js-img-1"
                   height="1500" width="1500"
                   src="../products/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e_1500xe5f4.jpg?v=1628802706" alt="JORDAN X TRAVIS SCOTT X FRAGMENT TEE">
              
            </div>
          </div>
    </div>


    <div class="P__Info js-product-info">
      <h2
        
        data-tags="081321 FRAGMENTS HIDE-SIGNUP-WHEN-SOLD-OUT HOVER-SHOW-SECOND-IMAGE IMAGE-ZOOM ONE-PER SHIPPING: SHIPS IN 2-3 DAYS"
        class="PI__title js-product-title" itemprop="name"
      >ROGER ROGER FRAGMENT TEE</h2>
        
          <div class="PI__desc js-add-description" itemprop="description"><p>STANDOUT GRAPHIC OF MJ ON THE FRONT, OVERLAPPING CACTUS JACK AND FRAGMENT LOGOS IN A MIXTURE OF PRINTS<br><meta charset="utf-8"><span data-mce-fragment="1">SHIPS IN 2-3 DAYS</span><br></p></div>
        
        
          
            <div class="PI__out-of-stock">SOLD OUT</div>
            
        

    </div>
  </article>

</div>
<div class="cf"></div>

      </div>
    </div>

      </main><footer class="Footer js-footer">
        <div class="F__nav"><a href="faq.html" title="HELP" data-title="help" class="F__link"> HELP</a><a href="privacy-policy.html#CCPA" title="Do Not Sell My Personal Information" data-title="do not sell my personal information" class="F__link"> Do Not Sell My Personal Information</a><a href="terms.html" title="TERMS" data-title="terms" class="F__link"> TERMS</a><a href="privacy-policy.html" title="PRIVACY" data-title="privacy" class="F__link"> BORING STUFF</a></div>
    </footer>

<section
  id="CartDrawer"
  class="CartDrawer"
>
  <div class="CartDrawer__main" onclick="CartOpen();">
    <header class="CD__header">
      <h3 class="CD__header__title" id="CartTitle">
        Cart
        <span class="CD__header__count">
          (<span class="CD__header__count-number"></span>
          <span class="datacount1">0</span>
          <span class="CD__header__count-label" ></span>)
        </span>

      </h3>
      <button id="closebtn" type="button" class="CD__close" onclick="closecart();" >
        Close
        <span class="CD__close__icon" aria-hidden="true">
          ×
        </span>
      </button>
    </header>
    <div class="CD__content" >
      <h3 onclick='clearCart()' class="button1">Clear Cart </h3>
      <div class="CD__form">
        <div class="CD__items">
          <table class="CD__table">
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
            <div id="pswpcontain" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div id="pswp__bg" class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
    <div onclick="datazoominv();" class="pswp__item soloitem"><div class="pswp__zoom-wrap"><img class="pswp__img" src="../products/12_01_updatefinal_1500xd26d.jpg?v=1628871744" </div></div></div>
                <div id="uiopen" class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <button  onclick="datazoominv();" class="pswp__button pswp__button--close" title="Close (Esc)">&times;</button>


                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                              <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>

                    <button id="pswparrL" class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                      &#8249;
                    </button>

                    <button id="pswparrR" class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                      &#8250;
                    </button>

                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
    </div>
          <script src="/payment.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
          <script src="script2.js"></script>
  </body>
</html>
