<!doctype html>
<html lang="en-US">

<head>

  <meta charset="utf-8">
  <title>TERMS | ROGER ROGER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <meta name="description" content="TERMS OF SERVICELAST UPDATED: JULY 30, 2020. ALL SALES FINAL. NO RETURNS, EXCHANGES, OR MODIFICATIONS TO YOUR ORDER AFTER PLACED. FOR CUSTOMER SERVICE PLEASE CLICK BELOW: CONTACT CUSTOMER SERVICE YOU WILL RECEIVE ORDER SHIPMENT AND TRACKING ONCE YOUR ORDER SHIPS. WE ARE NOT RESPONSIBLE FOR ANY LOST, STOLEN OR DAMAGED S"><meta name="twitter:title" content="TERMS">
  <meta name="twitter:description" content="TERMS OF SERVICELAST UPDATED: JULY 30, 2020. ALL SALES FINAL. NO RETURNS, EXCHANGES, OR MODIFICATIONS TO YOUR ORDER AFTER PLACED. FOR CUSTOMER SERVICE PLEASE CLICK BELOW: CONTACT CUSTOMER SERVICE YOU WILL RECEIVE ORDER SHIPMENT AND TRACKING ONCE YOUR ORDER SHIPS. WE ARE NOT RESPONSIBLE FOR ANY LOST, STOLEN OR DAMAGED S">
  <meta name="twitter:url" content="terms.html">
  <meta name="twitter:image:alt" content="TERMS">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:title" content="TERMS">
  <meta property="og:description" content="TERMS OF SERVICELAST UPDATED: JULY 30, 2020. ALL SALES FINAL. NO RETURNS, EXCHANGES, OR MODIFICATIONS TO YOUR ORDER AFTER PLACED. FOR CUSTOMER SERVICE PLEASE CLICK BELOW: CONTACT CUSTOMER SERVICE YOU WILL RECEIVE ORDER SHIPMENT AND TRACKING ONCE YOUR ORDER SHIPS. WE ARE NOT RESPONSIBLE FOR ANY LOST, STOLEN OR DAMAGED S">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="ROGER ROGER">
  <meta property="og:url" content="terms.html">
  <link rel="apple-touch-icon" sizes="57x57" href="../Assets/apple-icon-57x5739be.png?v=3379390425994517632">
  <link rel="apple-touch-icon" sizes="60x60" href="../Assets/apple-icon-60x6019d1.png?v=7767540045200874822">
  <link rel="apple-touch-icon" sizes="72x72" href="../Assets/apple-icon-72x72203f.png?v=10311065889238500215">
  <link rel="apple-touch-icon" sizes="76x76" href="../Assets/apple-icon-76x767c9b.png?v=16817737802744084623">
  <link rel="apple-touch-icon" sizes="114x114" href="../Assets/apple-icon-114x1143d75.png?v=18200548120803157398">
  <link rel="apple-touch-icon" sizes="120x120" href="../Assets/apple-icon-120x1206291.png?v=13498461394125657253">
  <link rel="apple-touch-icon" sizes="144x144" href="../Assets/apple-icon-144x144ea57.png?v=6105199869634354362">
  <link rel="apple-touch-icon" sizes="152x152" href="../Assets/apple-icon-152x1526bf5.png?v=8503299270179059925">
  <link rel="apple-touch-icon" sizes="180x180" href="../Assets/apple-icon-180x1808799.png?v=1654743329381614950">
  <link rel="icon" type="image/png" sizes="192x192" href="../Assets/android-icon-192x1928de1.png?v=4675465960329839148">
  <link rel="icon" type="image/png" sizes="32x32" href="../Assets/favicon-32x328b9a.png?v=11993505977033946260">
  <link rel="icon" type="image/png" sizes="96x96" href="../Assets/favicon-96x9614bf.png?v=12435803360369970359">
  <link rel="icon" type="image/png" sizes="16x16" href="../Assets/favicon-16x165d71.png?v=16157078672135185305">
  <meta name="msapplication-TileColor" content="#ffffff">
  <link href="../Assets/ms-icon-144x144ea57.png?v=6105199869634354362" rel="shortcut icon" sizes="16x16 32x32 64x64">

  <script>
    var TRAVIS = TRAVIS || {};
  </script>

<link href="/main0e34.css?v=16357540465480959826" rel="stylesheet" type="text/css" media="all" />


<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 180px;
  }
}
</style><script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>
<link rel="canonical" href="terms.html">
</head>
  <body class="page-terms template-page-terms js-empty-cart "    
    id="page-terms">

    <nav class="MainNavigation"

<a href="/index1" aria-label="Homepage" class="N__link N__top_center N__person js-toplink">
      <span class="N__person-inner">

          <img
                  src="../Assets/roger-roger-logo.png?v=1606759885" style="width: 61px" class="N__custom_logo logo1" alt="CACTUS JACK">
      </span>
    </a>
  

        <a href="https://instagram.com" class="N__link N__top_left js-toplink">Social</a>

        <a href="/About" class="N__link N__bottom_left">About</a>
        <a class="N__link N__top_right js-toplink" href="cart.html" onclick="DisplayCart();"data-js-cart-action-open>
            Cart
            <span class="sr-only">:</span>
            <span class="N__cart_count js-cart-count" data-js-cart-count>
        <span class="datacount">0</span>
        <span class="sr-only" data-js-cart-count-label>Items</span>
      </span>
        </a>


        <a href="/Contact" class="N__link N__bottom_right">Contact</a>

</nav>

    <div class="Wrap" id="js-wrap">
      
<div class="Header js-header"></div>


      
      <main class="B__container" id="main">
        <h1 class="sr-only">TERMS</h1>
        <div class="MasterPage">
  <div class="container terms-privacy">
    <div style="text-align: center;">TERMS OF SERVICE<br><br>Last Updated: July 30, 2020.<br><br> ALL SALES FINAL. NO RETURNS, EXCHANGES, OR MODIFICATIONS TO YOUR ORDER AFTER PLACED.</div>
<div style="text-align: center;">
<br>
<p style="text-align: center;"><br>FOR CUSTOMER SERVICE PLEASE CLICK BELOW:<br><br></p>
<button name="checkout" class="ButtonCallout js-customer-service-trigger" style="padding-left: 18px; padding-right: 18px; min-width: 80%; width: auto;">CONTACT CUSTOMER SERVICE</button> <br><meta charset="utf-8">
<div class="mp4p"></div>
</div>
<div style="text-align: center;">
<br>You will receive order shipment and tracking once your order ships.</div>
<p><span>We are not responsible for any lost, stolen or damaged shipments. Customers are responsible for paying additional shipping and handling fees to have the order re-shipped, if available. The buyer assumes all responsibilities of claims made with the shipping carrier. Please contact customer service with</span><span> any questions regarding carrier claims.</span></p>
<meta charset="utf-8">
<p>INTERNATIONAL CUSTOMERS ARE RESPONSIBLE FOR DUTY AND TAX ON DELIVERY. DUTY AND TAX MAY VARY BY COUNTRY.</p>
<p><br>REFUSED PACKAGES WILL BE CONSIDERED FORFEITED AND ARE NOT ELIGIBLE FOR REFUND OR CREDIT.<br><br></p>
<p><span>WE ARE NOT RESPONSIBLE FOR ANY LOST, STOLEN OR DAMAGED SHIPMENTS. CUSTOMERS ARE RESPONSIBLE FOR PAYING ADDITIONAL SHIPPING AND HANDLING FEES TO HAVE THE ORDER RE-SHIPPED, IF AVAILABLE.</span></p>
<p> </p>
<p><span>THE BUYER ASSUMES ALL RESPONSIBILITIES OF CLAIMS MADE WITH THE SHIPPING CARRIER. PLEASE CONTACT CUSTOMER SERVICE WITH</span><span> ANY QUESTIONS REGARDING CARRIER CLAIMS.</span></p>
<p> </p>
<p><span>IN ORDER TO PROVIDE THE BEST CUSTOMER SERVICE, ANY CONCERNS REGARDING ORDERS MUST BE RECEIVING IN WRITING WITHIN 14 DAYS OF PLACING THE ORDER OR 7 DAYS WITHIN THE DELIVERY OF THE ORDER.</span></p>
<p style="font-weight: 400;">THESE TERMS OF USE, AND ANY DOCUMENTS REFERRED TO HEREIN, SET OUT THE TERMS AND CONDITIONS ON WHICH YOU ARE PERMITTED TO USE OUR WEBSITE, HTTPS://SHOP.TRAVISSCOTT.COM (“WEBSITE”). BY USING OUR WEBSITE, YOU AGREE TO BE BOUND BY, AND TO COMPLY WITH, THESE TERMS OF USE. THESE TERMS OF USE ARE EFFECTIVE FROM MAY 24, 2018. PLEASE READ THESE TERMS OF USE CAREFULLY. WE RECOMMEND THAT YOU PRINT OFF A COPY OF THESE TERMS OF USE FOR YOUR RECORDS, AS WELL AS ANY FUTURE VERSIONS OF THEM, AS WE MAY UPDATE THEM FROM TIME TO TIME. YOU CAN DETERMINE WHEN WE LAST CHANGED THIS AGREEMENT BY REFERRING TO THE “LAST UPDATED” LEGEND ABOVE. YOUR ATTENTION IS PARTICULARLY DRAWN TO CLAUSES 11 (EXCLUSIONS AND LIMITATIONS OF LIABILITY), 12 (INDEMNIFICATION), AND 13 (DISCLAIMERS). BY ACCESSING AND USING OUR WEBSITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS CONTAINED IN THESE TERMS OF USE, YOU ACKNOWLEDGE THAT WE WILL PROCESS YOUR INFORMATION IN ACCORDANCE WITH OUR PRIVACY POLICY, AND OUR USE OF COOKIES AND SIMILAR TECHNOLOGIES IN ACCORDANCE WITH OUR COOKIES POLICY. IF YOU DO NOT AGREE TO THE TERMS SET OUT IN THESE TERMS OF USE, YOU MUST NOT USE OUR WEBSITE.</p>
<p style="font-weight: 400;">You must ensure that any persons who access our website on your computer(s) or device(s), or who are permitted or able to access our website on your computer(s) or device(s), or who use your internet connection, are aware of these Terms of Use and all other documentation referred to in them, and that such persons also agree to be bound by and to comply with these Terms of Use. If for any reason whatsoever, such persons do not agree to these Terms of Use or do not wish to be bound by them, they must not access or use our website, and you must not permit them to do so.<br><span></span></p>
<p>Other documents governing your use of our website In addition to these Terms of Use, your use of our website is also governed by the following documents:</p>
<p>Our privacy policy, which is available at <a href="privacy-policy.html">https://shop.travisscott.com/pages/privacy-policy</a>. Our privacy policy governs our use of your information. It sets out the types of information we collect, the reasons we collect it, how we use it, where we may pass it on to any third parties, in what circumstances and for what reasons, and any other relevant information relating to our use and/or processing of your information and your rights in relation to your information. Our cookies policy, which is available at <a href="cookie-policy.html">https://shop.travisscott.com/pages/cookie-policy</a>. Our cookies policy governs our use of cookies [which are small files placed on the hard drive of a computer] and similar technologies on our website. It sets out the types of cookies we use, the purposes for which we use them, the circumstances in which we may place cookies on your computer, device or browser, and other relevant information relating to cookies, such as how to change your browser preferences and settings to accept or reject cookies</p>
<p>By accessing and using our website, you agree to be bound by the terms and conditions contained in these Terms of Use, you acknowledge that we will process your information in accordance with our privacy policy, and our use of cookies and similar technologies in accordance with our cookies policy. If you do not agree to the terms set out in these Terms of Use, you must not use our website</p>
<meta charset="utf-8">
<p><strong>1. Availability of our website</strong></p>
<p>We make no representations and provide no warranties that:</p>
<p>the website will be made available at any specific time or from any specific geographical location; your access to the website will be continuous or uninterrupted; or the website will be accessible or optimized on all browsers, computers, tablets, phones or viewing platforms</p>
<p>WE RESERVE THE RIGHT TO SUSPEND ACCESS TO ALL OR PART OF THE WEBSITE FOR ANY REASON, INCLUDING FOR BUSINESS OR OPERATIONAL REASONS, SUCH AS IMPROVING THE APPEARANCE OR FUNCTIONALITY OF THE WEBSITE, CONTENT UPDATES, PERIODIC MAINTENANCE, OR TO RESOLVE ANY ISSUES THAT WE BECOME AWARE OF. OUR WEBSITE IS PROVIDED FOR USERS IN THE UNITED STATES. ALTHOUGH IT MAY BE POSSIBLE TO ACCESS THE WEBSITE FROM OTHER COUNTRIES, WE MAKE NO REPRESENTATION THAT OUR WEBSITE IS COMPLIANT WITH ANY LEGAL REQUIREMENTS IN FORCE IN ANY JURISDICTION OTHER THAN THE UNITED STATES, OR THAT THE CONTENT AVAILABLE ON THE WEBSITE WILL BE APPROPRIATE FOR USERS IN OTHER COUNTRIES OR STATES.</p>
<p><strong>2. Changes we may make to these Terms of Use and other documentation</strong></p>
<p>We reserve the right to update these Terms of Use, our privacy policy, our cookies policy and any other documentation referred to in any of these documents from time to time. We may change our Terms of Use and other documentation for any reason, including:</p>
<p>to reflect any changes in the way we carry out our business; to account for any changes we make to our website, including, without limitation, any new features or functionality we provide, any adjustments to the means by which we provide notices to you, or any changes in the content, purpose or availability of the website; to accurately describe our current data-processing activities so that you are kept up to date with our latest practices; to inform you of any changes in the way that we use cookies or similar information-gathering technologies; or to ensure that our documentation complies and remains compliant with any and all current and future applicable laws, regulations and official guidance</p>
<p>If required by law, we will provide you with notice of any changes in these Terms of Use or the other documentation referred to in them by posting a notice on the website and/or by posting an updated version of these Terms of Use or other such documentation on our website with a new effective date stated at the beginning of them. By continuing to access our website after we have updated our Terms of Use, terms of sale, and/or user content agreement, you agree to be bound by those updated versions. You also acknowledge that by continuing to access our website after we have updated our privacy policy and/or our cookies policy, that the practices set out in those updated policies will apply to our handling of your information and our use of cookies and similar technologies. You must check these Terms of Use and all other documentation referred to in them each time you access our website in order to ensure that you are aware of the terms that apply to you at that time. The date that these Terms of Use and/or any other documents (including our privacy policy and cookies policy) were last amended is set out at the top of that document and is referred to as that document’s “effective date”</p>
<p><strong>3. Your account details</strong></p>
<p>If we provide you with account information such as a user name, identification number, account code and/or password, you must keep such information confidential and secret and not disclose it to anyone. All account information is provided for use of the named account holder only, and not for any other person. You are responsible for any consequences of unauthorised access to your account due to any disclosure of your account information to any third party. Where we provide you with the option to select your own login information, including a password, we recommend that you supply login information unique to your own use of this website, and do not use information from other accounts you may hold with other websites or any easily discoverable information about you. You are responsible for any consequences of unauthorised access to your account due to any disclosure of your login information to any third party. You must never use another user’s account without permission. When creating your account, you must provide accurate and complete information. You agree that you will not solicit, collect or use the login credentials of other individuals. We prohibit the creation of, and you agree that you will not create, an account for anyone other than yourself. You also represent that all information you provide to us upon registration and at all other times will be true, accurate, current, and complete. You agree to update your information as necessary to maintain its truth and accuracy. We reserve the right to withdraw access to your account without notice for any actual or suspected breach of these Terms of Use or any other documentation referred to in them, including, without limitation, where we suspect that there has been unauthorised access to your account, or any unauthorised disclosure of your login information. If you know or suspect that the confidentiality of your login information has been compromised, for example, by the disclosure of such information to any third party, you must immediately change your password. If you are unable to change your password, you must immediately notify us by email, at store@travisscott.com</p>
<p><strong>4. Ownership of material on our website</strong></p>
<p>AS BETWEEN YOU AND US, ALL RIGHT, TITLE, AND INTEREST IN AND TO OUR WEBSITE AND ITS CONTENT, FEATURES, FUNCTIONALITY, INCLUDING, BUT NOT LIMITED TO, ALL TRADEMARKS, SERVICE MARKS, TRADE NAMES, LOGOS, COPYRIGHT AND OTHER INTELLECTUAL PROPERTY RIGHTS IN OUR WEBSITE AND ITS CONTENT ARE EITHER OWNED BY US OR LICENSED TO US. ALL SUCH RIGHTS ARE PROTECTED BY INTELLECTUAL PROPERTY LAWS AROUND THE WORLD, AND ALL RIGHTS ARE RESERVED. ANY USE OF THE WEBSITE AND ITS CONTENTS, OTHER THAN AS SPECIFICALLY AUTHORISED HEREIN, IS STRICTLY PROHIBITED. ANY RIGHTS NOT EXPRESSLY GRANTED HEREIN ARE RESERVED BY US. THE TRADE MARKS, SERVICE MARKS, TRADE NAMES, LOGOS AND OTHER BRANDING OWNED BY THIRD PARTIES AND USED OR DISPLAYED ON OR VIA OUR WEBSITE (COLLECTIVELY, “THIRD PARTY MARK(S)”) MAY BE TRADE MARKS OF THEIR RESPECTIVE OWNERS, WHO MAY OR MAY NOT ENDORSE OR BE AFFILIATED WITH OR CONNECTED WITH US. EXCEPT AS EXPRESSLY PROVIDED IN THESE TERMS OF USE, OR IN TERMS PROVIDED BY THE OWNER OF A THIRD PARTY MARK, NOTHING IN THESE TERMS OF USE OR ON OR VIA THE WEBSITE SHOULD BE CONSTRUED AS GRANTING, BY IMPLICATION, ESTOPPEL, OR OTHERWISE, ANY LICENCE OR RIGHT TO USE ANY OF OUR OR ANY THIRD PARTY MARKS THAT ARE USED OR DISPLAYED ON THE WEBSITE, WITHOUT THE RESPECTIVE OWNER’S PRIOR WRITTEN PERMISSION, IN EACH INSTANCE. ALL GOODWILL GENERATED FROM THE USE OF OUR TRADE MARKS WILL BENEFIT US EXCLUSIVELY.</p>
<p><strong>5. Information and content on our website provided on non-reliance basis</strong></p>
<p>Our website is made available to you in order to provide you with general information about us, our business, and any products or services that we offer from time to time. We do not make our website available for any other purposes, except as expressly provided in these Terms of Use. The content on our website is not intended to be construed as advice. You must not rely on any of the content of our website for any purposes whatsoever, and you must seek your own independent professional advice before deciding to take any course of action on the basis, whether in whole or in part, of any of the content available on our website at any time. We make no representations and provide no warranties whatsoever, whether express or implied, that any of the content or materials available on our website from time to time are accurate, up to date or complete</p>
<p><strong>6. Permitted use of materials on our website</strong></p>
<p>THE CONTENT ON OUR WEBSITE IS PROVIDED FOR YOUR PERSONAL, PRIVATE AND NON-COMMERCIAL USE ONLY. YOU MAY PRINT OR SHARE THE CONTENT FROM OUR WEBSITE FOR LAWFUL PERSONAL, PRIVATE AND NON-COMMERCIAL PURPOSES. YOU MAY NOT OTHERWISE EXTRACT, REPRODUCE OR DISTRIBUTE THE CONTENT OF OUR WEBSITE WITHOUT OUR PRIOR WRITTEN CONSENT. WHENEVER YOU PRINT, DOWNLOAD, SHARE OR PASS ON CONTENT FROM OUR WEBSITE TO OTHERS, YOU MUST NOT MAKE ANY ADDITIONS OR DELETIONS OR OTHERWISE MODIFY ANY TEXT FROM OUR WEBSITE, YOU MUST NOT ALTER OR CHANGE ANY IMAGES, MEDIA OR GRAPHICS FROM OUR WEBSITE IN ANY WAY, YOU MAY NOT REMOVE ANY ACCOMPANYING TEXT FROM SUCH IMAGES, MEDIA OR GRAPHICS, AND YOU MUST ENSURE THAT ALL CONTENT PASSED ON TO ANY THIRD PARTY IS AN ACCURATE REPRESENTATION OF THE CONTENT AS IT APPEARS ON OUR WEBSITE. YOU ARE PROHIBITED FROM USING ANY ROBOTS, SPIDERS, DATA MINING OR SCRAPING TECHNOLOGY OR ANY SIMILAR THIRD PARTY TOOLS FOR THE EXTRACTION OR REPRODUCTION OF ANY DATA OR CONTENT FROM OUR WEBSITE WITHOUT OUR PRIOR WRITTEN CONSENT. WHENEVER YOU PASS ON ANY CONTENT OR MATERIALS FROM OUR WEBSITE TO ANYONE, YOU MUST ACKNOWLEDGE US AS THE AUTHORS OF SUCH CONTENT OR MATERIALS (OR ANY OTHER AUTHORS WHEREVER CREDITED BY US) AT THE TIME WHEN YOU PASS ON SUCH CONTENT OR MATERIALS.</p>
<p><strong>7. Prohibited uses of our website</strong></p>
<p>You must not reproduce, duplicate, copy or resell any part of our website or any content from our website, save and except to the extent expressly permitted in these Terms of Use. You must not, without our prior written consent, access, interfere with, damage or disrupt in any way our website or any part of it, our systems, any of our hardware or equipment or any networks on which our website is hosted, any software that we use to create or modify the website or to make the website available to you, or any hardware, equipment, network, server, software or technology owned or operated by us or any third party. You must use our website for lawful purposes only and in accordance with these Terms of Use. You must not use our website:</p>
<p>for any purpose that is unlawful or that in any way breaches any applicable laws or regulations, whether local, national or international; for any fraudulent purposes whatsoever; to conduct any unsolicited or unauthorised advertising or direct or indirect marketing to anyone by any means, or to otherwise spam, communicate with or market to anyone any goods, services or business not authorised by us; to upload, host or transmit any viruses, malware, adware, spyware, worms, Trojan horses, keystroke loggers, spyware, logic bombs, time bombs or any other harmful programs or code which could adversely affect the use or operation of the website, our hardware or systems, or the computers, tablets, phones or other devices of any users or other third parties, or to upload any content or materials containing any such content; to communicate with, harm or attempt to harm children in any way; or in any way or for any purpose that breaches these Terms of Use or the terms of any of the documents these Terms of Use refer to:</p>
<p>You must not submit any information about you to us if you are under the age of 18, or about any other person who is either:</p>
<p>under the age of 18; or if they are aged 18 or above, where you have not received their prior written consent to submit information about them to us</p>
<p>You must not submit to us any information which is considered ‘sensitive personal information’. ‘Sensitive personal information’ is information about you or any other person which reveals your or their racial or ethnic origin, political opinions, religious or philosophical beliefs, trade union membership or which is genetic data, biometric data, information which concerns your or their health, sex life or sexual orientation. If you accidentally or intentionally submit such information to us, you will be considered to have consented to our processing of that information on the basis of Article 9(2)(a) of the General Data Protection Regulation (Regulation (EU) 2016/769)</p>
<p><strong>8. Viruses and other harmful content</strong></p>
<p>We do not guarantee that our website does not contain viruses or other malicious software. However, we do make reasonable efforts to prevent such viruses or bugs from being uploaded to our website. We shall not be responsible for any bugs or viruses on our website, or any software that might be transferred to your computer from our website, or any consequences which the presence or operation of such programs may have. You must ensure that you have in place up-to-date and effective anti-virus protection on your computer or other browsing device. You must not upload or otherwise introduce to our website any viruses, malware, spyware, adware, Trojan horses, worms, logic bombs, time bombs, keystroke loggers or any other programs or code that is harmful or malicious. You must not use any third parties, software or technology to attempt to gain unauthorised access to our website, our servers, systems, hardware, software or data. You must not attempt to perform any denial of service type attack on our website. We may report any breach or suspected breach of this clause 8 (Viruses and other harmful content) to the relevant authorities and may disclose your identity</p>
<p><strong>9. Links to other websites</strong></p>
<p>Links to third party content or websites may appear on our website from time to time. We are not responsible for the content of any websites accessible via any link(s) on our website. All content on third party websites is outside of our control, and we do not represent or warrant that such content is related to us or our website, suitable or appropriate for use or viewing, lawful or accurate. Any third party website accessible via a link on our website may collect and process your information. We are not responsible for any data-processing activities carried out by any third party website which is linked to from our website, and we disclaim any and all liability in respect of the same. You should check the privacy policy of any such third party to establish how they may use your information before you decide to use their website and its features</p>
<p><strong>10. Links to our website</strong></p>
<p>You may not link to our website without our prior written consent. Where you have obtained our consent to link to our website:</p>
<p>you may provide links to our website on other websites owned by you, provided that such websites and the use of any links to our website comply with these Terms of Use; wherever you post a link to our website on any other website, you agree that you will do so in an appropriate manner, and not in any way which is defamatory or disparaging towards us, which misrepresents us or our business, or which causes any harm whatsoever to us or our business; and you must not link to our website in order to suggest any form of joint venture, partnership, collaboration, affiliation, business relationship, approval or endorsement in connection with us where none exists and in any event, without having first obtained our prior written consent</p>
<p>We may withdraw permission to link to our website at any time. In the event that we withdraw permission to link to our website and inform you of the same, you must immediately remove or cause to be removed any links to our website</p>
<p>11. EXCLUSIONS AND LIMITATIONS OF LIABILITY</p>
<p>We do not exclude our liability to you where it would be unlawful to do so, for example, for death or personal injury caused by our negligence. If applicable law does not allow all or any part of the below limitations of liability to apply to you, the limitations will apply to you only to the maximum extent permitted by applicable law</p>
<p>If you purchase goods or services from our website, different exclusions of liability may apply. These are contained in our terms of sale.</p>
<p>SUBJECT TO THE AFORESAID, IN NO EVENT SHALL WE (INCLUDING OUR PARENTS, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, MEMBERS, EMPLOYEES OR AGENTS) UNDER ANY CIRCUMSTANCES WHATSOEVER BE LIABLE TO YOU FOR ANY LOSS, DAMAGE (WHETHER DIRECT, INDIRECT, PUNITIVE, ACTUAL, CONSEQUENTIAL, INCIDENTAL, SPECIAL, EXEMPLARY, OR OTHERWISE) COSTS, EXPENSES, LIABILITIES OR PENALTIES, WHETHER IN CONTRACT, TORT, BREACH OF STATUTORY DUTY OR OTHERWISE, WHETHER FORESEEABLE OR UNKNOWN, ARISING FROM, IN CONNECTION WITH OR RELATING TO:</p>
<p>YOUR USE OF OUR WEBSITE; ANY CORRUPTION OR LOSS OF DATA; ANY INABILITY TO ACCESS OUR WEBSITE, INCLUDING, WITHOUT LIMITATION, ANY INTERRUPTIONS, SUSPENSION OR WITHDRAWAL OF OUR WEBSITE (FOR ANY REASON WHATSOEVER); ANY USE YOU MAKE OF ANY CONTENT OR MATERIALS ON OUR WEBSITE, INCLUDING ANY RELIANCE YOU MAKE ON SUCH CONTENT OR MATERIAL; ANY LOSS OF SAVINGS, PROFITS, SALES, BUSINESS OR REVENUE; ANY LOSS OF REPUTATION OR GOODWILL; ANY LOSS OF SAVINGS; ANY LOSS OF A CHANCE OR OPPORTUNITY; OR ANY OTHER SECONDARY, CONSEQUENTIAL OR INDIRECT LOSSES.</p>
<p>AND EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGE, WITHOUT LIMITATION, YOU ASSUME AND SHALL BE LIABLE FOR THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION IN THE EVENT OF ANY SUCH LOSS, DAMAGE, COSTS, EXPENSES, LIABILITIES OR PENALTIES ARISING.</p>
<p>WE SHALL NOT BE LIABLE FOR ANY DAMAGE THAT YOU COULD HAVE AVOIDED BY FOLLOWING OUR ADVICE TO APPLY AN UPDATE OFFERED TO YOU FREE OF CHARGE OR FOR DAMAGE THAT WAS CAUSED BY YOU FAILING TO CORRECTLY FOLLOW INSTALLATION INSTRUCTIONS OR TO HAVE IN PLACE THE MINIMUM SYSTEM REQUIREMENTS ADVISED BY US. You specifically agree that we shall not be liable for any content or the defamatory, offensive or illegal conduct of any third party and that the risk of harm or damage from the foregoing rests entirely with you. YOU AGREE THAT IN THE EVENT THAT YOU INCUR ANY DAMAGES, LOSSES OR INJURIES ARISING OUT OF, OR IN CONNECTION WITH, OUR ACTS OR OMISSIONS, THE DAMAGES, IF ANY, CAUSED TO YOU ARE NOT IRREPARABLE OR SUFFICIENT TO ENTITLE YOU TO AN INJUNCTION PREVENTING ANY EXPLOITATION OF ANY WEBSITE, SERVICE, PROPERTY, PRODUCT OR OTHER CONTENT OWNED OR CONTROLLED BY US, AND YOU WILL HAVE NO RIGHTS TO ENJOIN OR RESTRAIN THE DEVELOPMENT, PRODUCTION, DISTRIBUTION, ADVERTISING, EXHIBITION OR EXPLOITATION OF ANY WEBSITE, PROPERTY, PRODUCT, SERVICE, OR OTHER CONTENT OWNED OR CONTROLLED BY US. To the extent that any of the provisions of this clause 11 (EXCLUSIONS AND LIMITATIONS OF LIABILITY) are unenforceable as outright exclusions of liability, they shall be construed as limitations on liability, limiting our liability to you to the maximum extent permitted by law.</p>
<p>12. INDEMNIFICATION</p>
<p>YOU (AND ALSO ANY THIRD PARTY FOR OR ON BEHALF OF WHOM YOU OPERATE AN ACCOUNT OR ACTIVITY ON THE WEBSITE) AGREE TO DEFEND (AT OUR REQUEST), INDEMNIFY AND HOLD US AND OUR AFFILIATES, SUBSIDIARIES, AND ALL OF OUR RESPECTIVE OFFICERS, AGENTS, PARTNERS, AND EMPLOYEES, HARMLESS FROM AND AGAINST ANY CLAIMS, LIABILITIES, DAMAGES, LOSSES AND EXPENSES, INCLUDING, WITHOUT LIMITATION, REASONABLE LEGAL AND ATTORNEYS’ FEES AND COSTS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY OF THE FOLLOWING (INCLUDING AS A RESULT OF YOUR DIRECT ACTIVITIES ON THE WEBSITE OR THOSE CONDUCTED ON YOUR BEHALF): YOUR UPLOADS, ACCESS TO OR USE OF THE WEBSITE; YOUR BREACH OR ALLEGED BREACH OF THESE TERMS OF USE; YOUR VIOLATION OF ANY THIRD-PARTY RIGHT, INCLUDING, WITHOUT LIMITATION, ANY INTELLECTUAL PROPERTY RIGHT, PUBLICITY, CONFIDENTIALITY, PROPERTY OR PRIVACY RIGHT; YOUR VIOLATION OF ANY LAWS, RULES, REGULATIONS, CODES, STATUTES, ORDINANCES OR ORDERS OF ANY GOVERNMENTAL AND QUASI-GOVERNMENTAL AUTHORITIES, INCLUDING, WITHOUT LIMITATION, ALL REGULATORY, ADMINISTRATIVE AND LEGISLATIVE AUTHORITIES; OR ANY MISREPRESENTATION MADE BY YOU<br>WE RESERVE THE RIGHT TO ASSUME THE EXCLUSIVE DEFENSE AND CONTROL OF ANY MATTER SUBJECT TO INDEMNIFICATION BY YOU, AND YOU WILL NOT, IN ANY EVENT, SETTLE ANY CLAIM WITHOUT OUR PRIOR WRITTEN CONSENT. YOU WILL COOPERATE AS FULLY REQUIRED BY US IN THE DEFENSE OF ANY CLAIM.<br><br>13. DISCLAIMERS</p>
<p>THE WEBSITE IS PROVIDED ON AN “AS IS”, “AS AVAILABLE” AND “WITH ALL FAULTS” BASIS. TO THE FULLEST EXTENT PERMISSIBLE BY LAW, WE DO NOT MAKE ANY REPRESENTATIONS OR WARRANTIES OR ENDORSEMENTS OF ANY KIND WHATSOEVER, EXPRESS OR IMPLIED, in connection with our website or your use thereof, including, but not limited  TO:</p>
<p>THE SERVICE; THE WEBSITE CONTENT; USER CONTENT; OR SECURITY ASSOCIATED WITH THE TRANSMISSION OF INFORMATION TO THE WEBSITE</p>
<p>IN ADDITION, WE HEREBY DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE, CUSTOM, TRADE, QUIET ENJOYMENT, SYSTEM INTEGRATION AND FREEDOM FROM COMPUTER VIRUS.</p>
<p>WE DO NOT REPRESENT OR WARRANT THAT THE SERVICE WILL BE ERROR-FREE OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SERVICE OR THE SERVER THAT MAKES THE SERVICE AVAILABLE IS FREE FROM ANY HARMFUL COMPONENTS, INCLUDING, WITHOUT LIMITATION, VIRUSES. WE DO NOT MAKE ANY REPRESENTATIONS OR WARRANTIES THAT THE INFORMATION (INCLUDING ANY INSTRUCTIONS) ON THE SERVICE IS ACCURATE, COMPLETE OR USEFUL. YOU ACKNOWLEDGE THAT YOUR USE OF THE WEBSITE IS AT YOUR SOLE RISK. WE DO NOT WARRANT THAT YOUR USE OF THE WEBSITE IS LAWFUL IN ANY PARTICULAR JURISDICTION, AND WE SPECIFICALLY DISCLAIM SUCH WARRANTIES. SOME JURISDICTIONS LIMIT OR DO NOT ALLOW THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES SO THE ABOVE DISCLAIMER MAY NOT APPLY TO YOU TO THE EXTENT SUCH JURISDICTION'S LAW IS APPLICABLE TO YOU AND THESE TERMS OF USE. BY ACCESSING OR USING THE WEBSITE YOU REPRESENT AND WARRANT THAT YOUR ACTIVITIES ARE LAWFUL IN EVERY JURISDICTION WHERE YOU ACCESS OR USE THE SERVICE. WE DO NOT ENDORSE CONTENT AND SPECIFICALLY DISCLAIM ANY RESPONSIBILITY OR LIABILITY TO ANY PERSON OR ENTITY FOR ANY LOSS, DAMAGE (WHETHER ACTUAL, CONSEQUENTIAL, PUNITIVE OR OTHERWISE), INJURY, CLAIM, LIABILITY OR OTHER CAUSE OF ACTION OF ANY KIND OR CHARACTER BASED UPON OR RESULTING FROM ANY CONTENT.</p>
<p>14. AGE RESTRICTIONS ON USE OF OUR WEBSITE</p>
<p>By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</p>
<p><strong>15. Governing law and jurisdiction</strong></p>
<p>These Terms of Use, any documents they refer to, and any disputes arising from or in relation to them or any documents they refer to, whether contractual or non-contractual, shall be governed by and construed in accordance with United States law in the state of California. The courts of the state of California shall have exclusive jurisdiction over any claims or disputes arising from or in relation to these Terms of Use and any documents they refer to.</p>
<p><strong>16. Copyright, credit and logo</strong></p>
<p>The copyright in these Terms of Use is either owned by, or licensed to, us and is protected by copyright laws around the world and copyright protection software. Unless expressly indicated otherwise, all intellectual property rights in this document and elsewhere on our website, including any content on our website, are reserved. These Terms of Use are based on a General Data Protection Regulation (Regulation (EU) 2016/769) (“GDPR”) compliant template provided by GDPR Privacy Policy. For further information, please visit gdprprivacypolicy.org Where we display the GDPR Privacy Policy logo on our website, this is used to indicate that we have adopted a privacy policy template provided by GDPR Privacy Policy as the basis for this Privacy Policy.<br><br><strong>17. GDPR REGULATION</strong></p>
<p>THESE TERMS OF USE ARE BASED ON A GENERAL DATA PROTECTION REGULATION (REGULATION (EU) 2016/769) (“GDPR”) COMPLIANT TEMPLATE PROVIDED BY GDPR PRIVACY POLICY. FOR FURTHER INFORMATION, PLEASE VISIT GDPRPRIVACYPOLICY.ORG WHERE WE DISPLAY THE GDPR PRIVACY POLICY LOGO ON OUR WEBSITE, THIS IS USED TO INDICATE THAT WE HAVE ADOPTED A PRIVACY POLICY TEMPLATE PROVIDED BY GDPR PRIVACY POLICY AS THE BASIS FOR THIS PRIVACY POLICY.</p>
<p> </p>
  </div>
</div>

      </main><footer class="Footer js-footer">
  <div class="F__nav"><a href="faq.html" title="HELP" data-title="help" class="F__link"> HELP</a><a href="https://astroworldfest.com/" title="Astroworld Festival 2021" data-title="astroworld festival 2021" class="F__link"> Astroworld Festival 2021</a><a href="privacy-policy.html#CCPA" title="Do Not Sell My Personal Information" data-title="do not sell my personal information" class="F__link"> Do Not Sell My Personal Information</a><a href="terms.html" title="TERMS" data-title="terms" class="F__link"> TERMS</a><a href="privacy-policy.html" title="PRIVACY" data-title="privacy" class="F__link"> PRIVACY</a><a href="cookie-policy.html" title="COOKIE POLICY" data-title="cookie policy" class="F__link"> COOKIE POLICY</a></div>
  </footer>

        <section
                class="CartDrawer"
                role="dialog"
                aria-modal="true"
                aria-labelledby="CartTitle"
                aria-hidden="true"
                data-js-cart-drawer
        >
            <div class="CartDrawer__main" data-js-cart-main>
                <header class="CD__header">
                    <h3 class="CD__header__title" id="CartTitle">
                        Cart
                        <span class="CD__header__count" data-js-cart-count>
          (<span class="CD__header__count-number" data-js-cart-count-number></span>
            <span class="datacount1">0</span>
          <span class="CD__header__count-label" data-js-cart-count-label></span>)
        </span>
                    </h3>
                    <button type="button" class="CD__close" data-js-cart-action-close>
                        Close
                        <span class="CD__close__icon" aria-hidden="true">
          ×
        </span>
                    </button>
                </header>
                <div class="CD__content" data-js-cart-content>
                    <h3 onclick='clearCart()' class="button1">Clear Cart </h3>
                    <form class="CD__form" action="/cart" method="post" autocomplete="off">
                        <div class="CD__items">
                            <table class="CD__table">
                            </table>
                        </div>
                    </form>
                </div>
                <script id="cartDrawerItemsTemplate" type="text/x-tmpl-mustache"></script>
                <script id="cartDrawerEmptyTemplate" type="text/x-tmpl-mustache"></script>
            </div>
        </section>

    </div>
  
  </script>
      <script src="../Assets/app-2021-07-270241.js?v=2252409066698244196" type="text/javascript"></script>

  </body>
<script src="script2.js"></script>
</html>
